.navbar-nav .nav-link {
  color: #f1f1f1 !important;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #c72e2e !important; /* Bootstrap primary blue */
}

.mobile-menu a {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-menu a:hover {
  color: #dd2525;
}
.navbar-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
